APP_DISPLAY_NAME=App-Q
APP_ENV=local
APP_DATA_DIR=./data
APP_MODEL_PROVIDER=mock
APP_MODEL_ID=app-q-qwen7b
APP_Q_B2C_MODEL_ID=app-q-trendyol
APP_Q_GENERAL_MODEL_ID=app-q-kizagan-e4b
APP_MODEL_TIMEOUT_SECONDS=240
OLLAMA_BASE_URL=http://127.0.0.1:11434
APP_ALLOW_EXTERNAL_API=false
APP_LOG_PROMPTS=false
